# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
dist/

# Logs
*.log

# Build
build/
.cache/

# Env
.env
.env.local
.env.*.local

# Misc
.DS_Store
