# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
env/
venv/
ENV/

# Byte-compiled / cache
*.egg-info/
.eggs/
*.egg

# Testing
.coverage
.pytest_cache/
htmlcov/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Environment
.env
.env.*

# Local config
*.sqlite3
