jupyter
fastapi # ==0.118.1
uvicorn
langgraph==0.6.6
langchain-core==0.3.74
dotenv
langchain-google-genai==2.1.9
pydantic==2.11.7
langgraph-checkpoint-sqlite
nest_asyncio
pytest
fastapi
sqlalchemy
alembic
passlib==1.7.3
bcrypt==4.3.0
python-jose
pydantic-settings
python-dotenv
psycopg2-binary
pyright
pyjwt[crypto]
pwdlib
python-multipart
pytest-asyncio
loguru
ollama
langchain-ollama